[user]
	name = Tom Schwarz
	email = hi@tomschwarz.info
[credential]
	username = tomschwarz 
[core]
	editor = vim 
[alias]
	fuckoff = reset --hard
	cleanup = clean -dxf
[gitreview]
	username = tomschwarz
